.layout {
    background-color: white;
    width: 100%;
    padding-top: 50px;
}

.main {
    width: 98%;
    margin: auto;
    min-height: calc(100vh - 100px);
}

.summary {
    width: 40%;
    min-width: 420px;
    margin: auto;
}