<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.apps.coolmove.mapper.CoolmoveMapper">

	<!-- ==================================================================================================== -->
	<!-- ==================================================================================================== -->

	<select id="selectTableNames" parameterType="HashMap" resultType="string">
SELECT	table_name
FROM	information_schema.tables
WHERE	table_schema = 'public' and table_type = 'BASE TABLE'
	</select>

	<!-- ==================================================================================================== -->
	<!-- ==================================================================================================== -->

	<select id="candidateMastSelect" parameterType="HashMap" resultType="com.soo.apps.coolmove.entity.EntityCandidateMast">
SELECT
		seq				AS seq
	,	uuid			AS uuid
	,	mast_nm			AS mastNm
	,	type			AS type
	,	period			AS period
	,	beg_dt			AS begDt
	,	end_dt			AS endDt
	,	status			AS status
	,	(
			SELECT	count(*)
			FROM	candidate_votes
			WHERE	uuid = cm.uuid
		)				AS votersCount
	,	voters_path_nm	AS votersPathNm
	,	voters_ognl_nm	AS votersOgnlNm
	,	pub_yn			AS pubYn
	,	reg_user_id		AS regUserId
	,	reg_dt			AS regDt
	,	mod_user_id		AS modUserId
	,	mod_dt			AS modDt
FROM	candidate_mast cm
WHERE	1=1
<if test="uuid	!= null and !uuid	.equals('')">AND uuid	= #{uuid}::UUID</if>
<if test="type	!= null and !type	.equals('')">AND type	= #{type}</if>
ORDER BY seq desc
	</select>

	<insert id="candidateMastInsert" parameterType="com.soo.apps.coolmove.entity.EntityCandidateMast">
INSERT INTO candidate_mast (
		uuid
	,	mast_nm
	,	type
	,	period
	,	beg_dt
	,	end_dt
	,	status
	,	voters_path_nm
	,	voters_ognl_nm
	,	pub_yn
	,	reg_user_id
	,	reg_dt
) VALUES (
		#{uuid}::UUID
	,	#{mastNm}
	,	#{type}
	,	#{period}
	,	#{begDt}::TIMESTAMP
	,	#{endDt}::TIMESTAMP
	,	#{status}
	,	#{votersPathNm}
	,	#{votersOgnlNm}
	,	#{pubYn}
	,	#{regUserId}
	,	now()
)
	</insert>

	<update id="candidateMastUpdate" parameterType="com.soo.apps.coolmove.entity.EntityCandidateMast">
UPDATE	candidate_mast
SET
		type			= #{type}
	,	mast_nm			= #{mastNm}
	,	period			= #{period}
	,	beg_dt			= #{begDt}::TIMESTAMP
	,	end_dt			= #{endDt}::TIMESTAMP
	,	status			= #{status}
	,	voters_path_nm	= #{votersPathNm}
	,	voters_ognl_nm	= #{votersOgnlNm}
	,	pub_yn			= #{pubYn}
	,	mod_user_id		= #{modUserId}
	,	mod_dt			= now()
WHERE	uuid			= #{uuid}::UUID
	</update>

	<update id="candidateMastRemove" parameterType="String">
DELETE	FROM	candidate_mast
WHERE	uuid	= #{uuid}::UUID
	</update>

	<!-- ==================================================================================================== -->

	<select id="candidateItemSelect" parameterType="HashMap" resultType="com.soo.apps.coolmove.entity.EntityCandidateItem">
SELECT
		seq				AS seq
	,	uuid			AS uuid
	,	id				AS id
	,	club_nm			AS clubNm
	,	player_nm		AS playerNm
	,	photo_path_nm	AS photoPathNm
	,	photo_ognl_nm	AS photoOgnlNm
	,	(
			SELECT	count(*)
			FROM	candidate_votes
			WHERE	uuid = ci.uuid AND id = ci.id
		)				AS votersCount
	,	reg_user_id		AS regUserId
	,	reg_dt			AS regDt
	,	mod_user_id		AS modUserId
	,	mod_dt			AS modDt
FROM	candidate_item ci
WHERE	1=1
<if test="uuid	!= null and !uuid	.equals('')">AND uuid	= #{uuid}::UUID</if>
<if test="id	!= null and !id		.equals('')">AND id		= #{id}::NUMERIC</if>
ORDER BY uuid, id
	</select>

	<insert id="candidateItemInsert" parameterType="com.soo.apps.coolmove.entity.EntityCandidateItem">
INSERT INTO candidate_item (
		uuid
	,	id
	,	club_nm
	,	player_nm
	,	photo_path_nm
	,	photo_ognl_nm
	,	reg_user_id
	,	reg_dt
) VALUES (
		#{uuid}::UUID
	,	#{id}::NUMERIC
	,	#{clubNm}
	,	#{playerNm}
	,	#{photoPathNm}
	,	#{photoOgnlNm}
	,	#{regUserId}
	,	now()
)
	</insert>

	<update id="candidateItemUpdate" parameterType="com.soo.apps.coolmove.entity.EntityCandidateItem">
UPDATE	candidate_item
SET		club_nm			= #{clubNm}
	,	player_nm		= #{playerNm}
	,	photo_path_nm	= #{photoPathNm}
	,	photo_ognl_nm	= #{photoOgnlNm}
	,	mod_user_id		= #{modUserId}
	,	mod_dt			= now()
WHERE	uuid			= #{uuid}::UUID
	AND	id				= #{id}::NUMERIC
	</update>

	<update id="candidateItemRemove" parameterType="HashMap">
DELETE	FROM	candidate_item
WHERE	uuid	= #{uuid}::UUID
<if test="id	!= null and !id		.equals('')">AND id		= #{id}::NUMERIC</if>
	</update>

	<!-- ==================================================================================================== -->

	<select id="candidatePledgeSelect" parameterType="HashMap" resultType="com.soo.apps.coolmove.entity.EntityCandidatePledge">
SELECT
		seq				AS seq
	,	uuid			AS uuid
	,	id				AS id
	,	no				AS no
	,	pledge			AS pledge
	,	(
			SELECT	count(*)
			FROM	candidate_votes
			WHERE	uuid = cp.uuid AND id = cp.id AND no = cp.no
		)				AS votersCount
	,	reg_user_id		AS regUserId
	,	reg_dt			AS regDt
	,	mod_user_id		AS modUserId
	,	mod_dt			AS modDt
FROM	candidate_pledges cp
WHERE	1=1
<if test="uuid	!= null and !uuid	.equals('')">AND uuid	= #{uuid}::UUID</if>
<if test="id	!= null and !id		.equals('')">AND id		= #{id}::NUMERIC</if>
<if test="no	!= null and !no		.equals('')">AND no		= #{no}::NUMERIC</if>
ORDER BY uuid, id, no
	</select>

	<insert id="candidatePledgeInsert" parameterType="String">
INSERT INTO candidate_pledges (
		uuid
	,	id
	,	no
	,	pledge
	,	reg_user_id
	,	reg_dt
) VALUES (
		#{uuid}::UUID
	,	#{id}::NUMERIC
	,	#{no}::NUMERIC
	,	#{pledge}
	,	#{regUserId}
	,	now()
)
	</insert>

	<update id="candidatePledgeUpdate" parameterType="String">
UPDATE	candidate_pledges
SET		pledge			= #{pledge}
	,	mod_user_id		= #{modUserId}
	,	mod_dt			= now()
WHERE	1=1
	AND uuid	= #{uuid}::UUID
	AND id		= #{id}::NUMERIC
	AND no		= #{no}::NUMERIC
	</update>

	<update id="candidatePledgeRemove" parameterType="HashMap">
DELETE	FROM	candidate_pledges
WHERE	1=1
	AND	uuid	= #{uuid}::UUID
<if test="id	!= null and !id		.equals('')">
	AND id		= #{id}::NUMERIC
	<if test="no	!= null and !no		.equals('')">
	AND no		= #{no}::NUMERIC
	</if>
</if>
	</update>

	<!-- ==================================================================================================== -->

	<select id="candidateVoteSelect" parameterType="HashMap" resultType="com.soo.apps.coolmove.entity.EntityCandidateVote">
SELECT
		seq				AS seq
	,	user_id			AS userId
	,	uuid			AS uuid
	,	id				AS id
	,	no				AS no
	,	reg_user_id		AS regUserId
	,	reg_dt			AS regDt
	,	mod_user_id		AS modUserId
	,	mod_dt			AS modDt
FROM	candidate_votes
WHERE	1=1
<if test="userId	!= null and !userId	.equals('')">AND user_id	= #{userId}</if>
<if test="uuid		!= null and !uuid	.equals('')">AND uuid		= #{uuid}::UUID</if>
<if test="id		!= null and !id		.equals('')">AND id			= #{id}::NUMERIC</if>
ORDER BY user_id, uuid, id
	</select>

	<insert id="candidateVoteInsert" parameterType="String">
INSERT INTO candidate_votes (
		user_id
	,	uuid
	,	id
	,	no
	,	reg_user_id
	,	reg_dt
) VALUES (
		#{userId}
	,	#{uuid}::UUID
	,	#{id}::NUMERIC
	,	#{no}::NUMERIC
	,	#{regUserId}
	,	now()
)
	</insert>
	<update id="candidateVoteUpdate" parameterType="String">
UPDATE	candidate_votes
SET
		id 				= #{id}::NUMERIC
	,	no				= #{no}::NUMERIC
	,	mod_user_id		= #{modUserId}
	,	mod_dt			= now()
WHERE	1=1
	AND	user_id	= #{userId}
	AND	uuid	= #{uuid}::UUID
	</update>

	<update id="candidateVoteRemove" parameterType="HashMap">
DELETE	FROM	candidate_votes
WHERE	1=1
	AND	user_id	= #{userId}
	AND	uuid	= #{uuid}::UUID
	</update>

	<!-- ==================================================================================================== -->
	<!-- ==================================================================================================== -->

</mapper>
